<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Vue 测试实例 - 菜鸟教程(runoob.com)</title>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.js"></script>
</head>
<body>
<div id="app">
	<p>{{ message }}</p>
	<div>
		<select v-model="selectedImage">
			<template v-for="img in images">
				<option v-bind:value="img">{{img}}</option>
			</template>
		</select>
		<template v-for="img in images">
			<input type="radio" v-bind:id="img" v-bind:value="img" v-model="selectedImage"><label v-bind:for="img">{{img}}</label>
		</template>
	</div>
	<div>
		<image style="height: 600px;" v-bind:src="'static/images/'+selectedImage+'.jpg'" />
	</div>
</div>

<script>
new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue.js!',
	images:['F15','J20','C17','F22'],
	selectedImage:'F15'
  }
})
</script>
</body>
</html>